body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('wedding-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 204, 204, 0.8);
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

#countdown, #events {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event {
    background-color: rgba(255, 255, 242, 0.8);
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    #countdown, #events {
        width: 90%;
    }
}
